.footer{

    background-color: #eae2dc;
    display: flex;
    height: 20px;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 40px;
    margin-left: -10px;
    margin-right: -1.8%;
    margin-bottom: -8%;
  }
  
  .social-media{
  width: 1200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  margin-left: 40%;
  }