



.contentbody1{
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'contentBox contentBox contentBox contentBox contentBox contentBox'
    'footer footer footer footer footer footer';
  padding: 10px;
}

.header1{ 
  grid-area: header;
 }

.contentBox1{ 
  grid-area: contentBox; 
}
.footer1{ 
  grid-area: footer; 
}
.contentBox1{

  height: 50%;
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:5%;
  margin-left: 50px;
  margin-top: -40px;
}
.grid-container {
    display: grid;
    grid-template-areas:
    "a c"
    "b c";
    grid-template-rows: 2fr 2fr ;
    grid-template-columns: 2fr 2fr;
    grid-gap: 4px;
    width: 350px;
    height: 300px;
    border-style: dashed;
    border-width: 1.5px;
    border-color: #af8084;
    margin-left: -50px;
  }

  figcaption{
margin-top: 10px;
margin-left: 100px;
font-size: smaller;
 }

.item1{

    grid-area: a;
    background-image: url("../img/Banoffee pie pancakes2.jfif");
    background-position: center;
  

  }

  .item2{

    grid-area: b;
    background-image: url("../img/Banoffee pie pancakes3.jfif");
    background-position: center;


  }

  .item3{

    grid-area: c;
    background-image: url("../img/Banoffee pie pancakes31.jpg");
    background-size: 400px;
    background-repeat: no-repeat;

  }
.post_topic{
    position: absolute;
    margin-top: 20px;
    margin-right: 380px;
    color: #af8084;
    }


.auther{
    position: absolute;
    margin-top: 45px;
    margin-left: 365px;
    color:gainsboro;


    }
.Ingredients{
        margin-top: 150px;
        padding-left: 10px;
        color: black;
        border-style: dashed;
        border-width: 1.5px;
        border-color: #af8084;
        width:700px;
    }

.Ingredients h3{
        text-decoration: underline;
        color: #8e6c66;
        font-weight: bold;
    }



.Method{
       margin-top: 100px;
        margin-left: 20px;
    }

#authorinfo{
    margin-left: 200px;
    position: absolute;
    margin-top: -60%;
    margin-left: 120px;
    width: 350px;

}


@media (max-width:821px) {
  .grid-container{
    display: grid;
  grid-template-areas:
"a c"
"b c";
grid-template-rows: 2fr 2fr ;
grid-template-columns: 2fr 2fr;
grid-gap: 4px;
width: 950px;
height: 900px;
border-style: dashed;
border-width: 1.5px;
border-color: #af8084;
margin-left: -50px;
  }
  .item1,.item2,.item3 {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav-list{
    height: 100px;
    padding: 130px;
  }

  .post_topic{
    font-size: 100px;
    margin-top: 1000px;
   margin-left: 100px;
    margin-right: 20px;

    }
    .Ingredients{
      margin-top: 1300px;
      margin-left: -1000px;
      font-size: 30px;
      width: 1000px;

    }
    .auther{
      margin-top: 1100px;
      margin-left: 400px;
      color: #8e6c66;
      font-size: 40px;
    }
#authorinfo{
      margin-top: -1000px;
      margin-left: 110px;
      color: #8e6c66;
      font-size: 40px;
      width: 900px;
}

.footer1{
    width: 1300px;
   
    padding-top: -100px;
   }
}





@media (max-width: 376px) {
  
  .grid-container{
    display: grid;
  grid-template-areas:
"a c"
"b c";
grid-template-rows: 2fr 2fr ;
grid-template-columns: 2fr 2fr;
grid-gap: 4px;
width: 950px;
height: 900px;
border-style: dashed;
border-width: 1.5px;
border-color: #af8084;
margin-left: -50px;
  }
  .item1,.item2,.item3 {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav-list{
    height: 100px;
    padding: 100px;
    padding-left: 150px;
  }

  .post_topic{
    font-size: 100px;
    margin-top: 950px;
   margin-left: 900px;
    margin-right: -200px;

    }
    .Ingredients{
      margin-top: 1300px;
      margin-left: -1000px;
      font-size: 30px;
      width: 1000px;

    }
    .auther{
      margin-top: 1100px;
      margin-left: 400px;
      color: #8e6c66;
      font-size: 40px;
    }
#authorinfo{
      margin-top: -1000px;
      margin-left: 110px;
      color: #8e6c66;
      font-size: 40px;
      width: 900px;
}


}


@media (min-width: 377px) and (max-width: 420px) {
  .grid-container{
    display: grid;
  grid-template-areas:
"a c"
"b c";
grid-template-rows: 2fr 2fr ;
grid-template-columns: 2fr 2fr;
grid-gap: 4px;
width: 950px;
height: 900px;
border-style: dashed;
border-width: 1.5px;
border-color: #af8084;
margin-left: -50px;
  }
  .item1,.item2,.item3 {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav-list{
    height: 100px;
    padding: 100px;
    padding-left: 150px;
  }

  .post_topic{
    font-size: 100px;
    margin-top: 950px;
   margin-left: 900px;
    margin-right: -200px;

    }
    .Ingredients{
      margin-top: 1300px;
      margin-left: -1000px;
      font-size: 90px;
      width: 1000px;

    }
    .auther{
      margin-top: 1100px;
      margin-left: 400px;
      color: #8e6c66;
      font-size: 40px;
    }
#authorinfo{
      margin-top: -1000px;
      margin-left: 110px;
      color: #8e6c66;
      font-size: 40px;
      width: 900px;
}


}


    @media (max-width: 360px){

      
      .grid-container{
        display: grid;
      grid-template-areas:
    "a c"
    "b c";
    grid-template-rows: 2fr 2fr ;
    grid-template-columns: 2fr 2fr;
    grid-gap: 4px;
    width: 950px;
    height: 900px;
    border-style: dashed;
    border-width: 1.5px;
    border-color: #af8084;
    margin-left: -50px;
      }
      .item1,.item2,.item3 {
        background-size: cover;
        background-repeat: no-repeat;
      }
      .nav-list{
        height: 100px;
        padding: 100px;
        padding-left: 150px;
      }
    
      .post_topic{
        font-size: 100px;
        margin-top: 950px;
       margin-left: 900px;
        margin-right: -200px;
    
        }
        .Ingredients{
          margin-top: 1300px;
          margin-left: -1000px;
          font-size: 30px;
          width: 1000px;
    
        }
        .auther{
          margin-top: 1100px;
          margin-left: 400px;
          color: #8e6c66;
          font-size: 40px;
        }
    #authorinfo{
          margin-top: -1000px;
          margin-left: 110px;
          color: #8e6c66;
          font-size: 40px;
          width: 900px;
    }

     
    }
     
     
     
      /*.header1{

    width: 1180px;
  }
  .post_topic{
    position: absolute ;
    
    margin-right: -510px;
  }
  .footer1{
    width: 1170px;
    margin-top: 1100px;
   
      }
  .Ingredients{
    width: 600px;
      } 
    }
*/


